*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Dossiers de capture
/screenshots/

# Fichiers spécifiques à l'utilisateur (Android Studio)
*.iws
*.apk
*.jks
*.keystore
